<div class="flex min-h-full flex-col bg-base-100">
  <form [formGroup]="form" class="mx-5 my-10 sm:mx-10">
    <div class="flex flex-col gap-2">
      <label class="label text-base font-light">
        Enter a unique tag name (and optionally, give it a description)
      </label>
      <div>
        <pc-form-input
          control="name"
          placeholder="Tag Name"
          icon="hashtag"
          [disallowedChars]="[',']"
          [debounceTime]="0"
        />
        <!--
        <span class="card bordered rounded-none font-light">
          @for (match of matches; track match) {
            <span class="pl-10 cursor-pointer hover:bg-slate-300" (click)="finishTag(match)">
              {{ match }}
            </span>
          }
        </span>
        -->
      </div>
      <pc-form-input control="description" placeholder="Optional description" icon="hashtag" />
      <pc-add-btn-row [processing]="processing" (add)="add()"></pc-add-btn-row>
    </div>
  </form>
</div>
