node_modules
coverage
.angular
.nx
./package-lock.json
dist
tmp
test-results/.last-run.json
package-lock.json

# Environment files
.env
.env.*
azurite-data/__azurite_db_blob__.json
azurite-data/__azurite_db_blob_extent__.json
azurite-data/__azurite_db_queue__.json
azurite-data/__azurite_db_queue_extent__.json
azurite-data/__azurite_db_table__.json
azurite-data/AzuriteConfig
