<!-- Nav bar -->
<div class="navbar bg-base-100 shadow-lg">
  <!-- Search bar -->
  <div class="flex-1">
    <label class="group relative block">
      <pc-icon
        class="group-focus-within:text-primary pointer-events-none absolute left-3 top-1/3 h-4 w-4 -translate-y-1/2 transform pt-1 text-sm text-gray-300"
        name="magnifying-glass"
      />

      <input
        type="text"
        placeholder="Search"
        class="input-pplcrm w-42 pl-10 pr-6 md:w-80"
        [(ngModel)]="searchStr"
        (ngModelChange)="search()"
      />

      <pc-icon
        class="absolute right-3 top-1/3 h-4 w-4 -translate-y-1/2 transform cursor-pointer pt-1 text-sm text-gray-400/0 group-focus-within:text-gray-400 group-hover:text-gray-400"
        name="x-mark"
        (click)="clearSearch()"
      />
    </label>
  </div>
  <div class="flex-none gap-4">
    <!-- light / dark theme switcher -->
    <pc-swap
      swapOnIcon="sun"
      swapOffIcon="moon"
      [checked]="initialTheme === 'light'"
      (clickEvent)="toggleTheme()"
    ></pc-swap>

    <!-- notifications -->
    <div class="text-base-400 cursor-pointer">
      <pc-icon class="hover:text-primary" name="bell" />
    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div
          class="bg-base-100 border-primary hover:bg-primary hover:border-secondary w-10 rounded-full border-2 p-1 hover:border-2"
        >
          <img alt="User Profile Picture" src="assets/sq.svg" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 cursor-pointer p-2 shadow"
      >
        <li>
          <a class="my-2 justify-between text-lg font-light">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a class="my-2 text-lg font-light">Settings</a></li>
        <li class="dark:border-t-gray border-t-2 border-t-gray-900"></li>
        <li>
          <a class="my-2 text-lg font-light" (click)="signOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
