<!-- Navigation bar template with search, theme toggle, and user actions -->
<div class="navbar bg-base-100 shadow-lg">
  <div class="flex-1 sm:hidden" (click)="toggleMobile()">
    <pc-icon name="bars-4"></pc-icon>
  </div>

  <div class="flex items-center gap-1 justify-end w-full" [class.hidden]="isMobileOpen()">
    <!-- Search bar -->
    <div *pcAnimateIf="searchBarVisible; enter: 'animate-left'; exit: 'animate-exit-right'" class="flex-1 max-w-full">
      <label class="input input-primary w-full flex items-center gap-2">
        <pc-icon class="opacity-50 hidden sm:block" viewBox="0 0 24 24" name="magnifying-glass" />
        <input
          #searchInput
          type="text"
          placeholder="Search"
          class="grow w-full"
          (blur)="onBlurSearchBar()"
          [value]="searchStr"
          (input)="onSearchInput($event)"
        />
        <kbd class="kbd kbd-sm hidden sm:block">⌘</kbd>
        <kbd class="kbd kbd-sm hidden sm:block">K</kbd>
      </label>
    </div>

    <!-- Search icon -->
    <pc-icon
      class="hover:text-primary text-base-400 cursor-pointer"
      [class.hidden]="searchBarVisible()"
      (click)="showSearchBar()"
      name="magnifying-glass"
    ></pc-icon>

    <pc-swap
      class="hover:text-primary text-base-400 cursor-pointer"
      swapOnIcon="arrows-pointing-out"
      swapOffIcon="arrows-pointing-in"
      [checked]="!isFullScreenMode()"
      (click)="toggleFullScreen()"
    ></pc-swap>

    <!-- light / dark theme switcher -->
    <pc-swap
      swapOnIcon="sun"
      swapOffIcon="moon"
      [checked]="themeSvc.getTheme() === 'light'"
      (click)="toggleTheme()"
    ></pc-swap>

    <!-- notifications -->
    <pc-icon class="hover:text-primary text-base-400 cursor-pointer" name="bell" />

    <!-- profile drop down -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar ml-2">
        <div
          class="bg-base-100 border-primary hover:bg-primary hover:border-secondary w-10 rounded-full border-2 hover:border-2"
        >
          <img alt="User Profile Picture" src="assets/sq.svg" class="p-1" />
        </div>
      </div>

      <!-- Menu -->
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-44 cursor-pointer font-light shadow"
      >
        <li class="hover:text-primary">
          <a> <pc-icon name="user-circle" /> Profile </a>
        </li>
        <li class="hover:text-primary">
          <a> <pc-icon name="cog-6-tooth" /> Settings </a>
        </li>
        <li class="hover:text-primary" (click)="signOut()">
          <a> <pc-icon name="arrow-left-start-on-rectangle" /> Sign out </a>
        </li>
      </ul>
    </div>
  </div>
</div>
