<label class="input input-bordered items-center gap-2">
  @if (icon() !== null) {
  <pc-icon [name]="icon()!" class="opacity-25"></pc-icon>
  } @if (googlePlaces()) {
  <input
    [disabled]="disabled()"
    placeholder="{{ placeholder() }}"
    [formControl]="inputControl"
    (focus)="handleFocus()"
    (blur)="handleBlur()"
    [type]="type()"
    class="grow"
    [options]="options"
    ngx-gp-autocomplete
    (onAddressChange)="handleAddressChange($event)"
  />
  } @else {
  <input
    placeholder="{{ placeholder() }}"
    [formControl]="inputControl"
    (focus)="handleFocus()"
    (keyup)="debounceValueChange($event)"
    (blur)="handleBlur()"
    [type]="type()"
    class="grow"
  />
  }
  <!-- Optional badge slot: add if needed -->
  <!-- <span class="badge badge-neutral badge-xs">Optional</span> -->
</label>
