<div>
  @for (alert of alerts; track alert) {
    <div
      class="alert hidden rounded-none alert-{{ alert.type }}"
      [class.hidden]="!alert.text"
    >
      <pc-icon [name]="icon(alert.type!)" class="mr-2"></pc-icon>
      <div>
        <h3 class="font-bold" [class.hidden]="!alert.title">
          {{ alert.title }}
        </h3>
        <div class="font-light" [class.text-sm]="!!alert.title">
          {{ alert.text }}
        </div>
      </div>
      <button
        class="btn btn-sm btn-{{ alert.type }}"
        [class.hidden]="!alert.OKBtn"
        (click)="dismiss(alert.text)"
      >
        {{ alert.OKBtn }}
      </button>
      <button
        class="btn btn-sm"
        [class.hidden]="!alert.btn2"
        (click)="btn2Click()"
      >
        {{ alert.btn2 }}
      </button>
    </div>
  }
</div>
