<!-- Nav bar -->
<div class="navbar bg-base-100 shadow-lg">
  <div class="flex-1 sm:hidden" (click)="toggleMobile()">
    <pc-icon name="bars-4"></pc-icon>
  </div>
  <!-- Search bar -->
  <div class="sm:visible sm:flex-1" [class.invisible]="!this.searchOnMobile">
    <label class="group relative block">
      <pc-icon
        class="group-focus-within:text-primary pointer-events-none absolute left-3 top-1/3 h-4 w-4 -translate-y-1/2 transform pt-1 text-sm text-gray-300"
        name="magnifying-glass"
      />

      <input
        type="text"
        placeholder="Search"
        class="input-pplcrm w-42 pl-10 pr-6 md:w-80"
        [(ngModel)]="searchStr"
        (ngModelChange)="search()"
      />

      <pc-icon
        class="absolute right-3 top-1/3 h-4 w-4 -translate-y-1/2 transform cursor-pointer pt-1 text-sm text-gray-400/0 group-focus-within:text-gray-400 group-hover:text-gray-400"
        name="x-mark"
        (click)="clearSearch()"
      />
    </label>
  </div>
  <div class="flex-none gap-4" [class.hidden]="isMobileOpen()" (click)="this.showSearchonMobile()">
    <!-- Search icon -->
    <pc-icon
      class="hover:text-primary text-base-400 cursor-pointer sm:hidden"
      [class.hidden]="this.searchOnMobile"
      name="magnifying-glass"
    ></pc-icon>
    <!-- light / dark theme switcher -->
    <pc-swap
      swapOnIcon="sun"
      swapOffIcon="moon"
      [checked]="themeSvc.theme === 'light'"
      (clickEvent)="toggleTheme()"
    ></pc-swap>

    <!-- notifications -->
    <pc-icon class="hover:text-primary text-base-400 cursor-pointer" name="bell" />

    <!-- profile drop down -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div
          class="bg-base-100 border-primary hover:bg-primary hover:border-secondary w-10 rounded-full border-2 p-1 hover:border-2"
        >
          <img alt="User Profile Picture" src="assets/sq.svg" />
        </div>
      </div>

      <!-- Menu -->
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-44 cursor-pointer font-light shadow"
      >
        <li class="hover:text-primary">
          <a>
            <pc-icon name="user-circle" />
            Profile
          </a>
        </li>
        <li class="hover:text-primary">
          <a>
            <pc-icon name="cog-6-tooth" />
            Settings
          </a>
        </li>
        <li class="hover:text-primary" (click)="signOut()">
          <a>
            <pc-icon name="arrow-left-start-on-rectangle" />
            Sign out
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
