<div class="flex min-h-full flex-col bg-base-100">
  <form [formGroup]="form" class="mx-5 my-10 sm:mx-10">
    <div class="flex flex-col gap-2">
      <label class="label text-base font-light"
        >All fields are optional, but try to add as much as possible
      </label>

      <div class="flex flex-col md:flex-row gap-2">
        <pc-form-input class="basis-1/3" control="first_name" placeholder="First Name" />
        <pc-form-input class="basis-1/3" control="middle_name" placeholder="Middle Name(s)" />
        <pc-form-input class="basis-1/3" control="last_name" placeholder="Last Name" />
      </div>
      <div class="flex flex-col md:flex-row gap-2">
        <pc-form-input class="basis-1/2" type="email" control="email" placeholder="Email" />
        <pc-form-input class="basis-1/2" type="email" control="email2" placeholder="Email 2" />
      </div>
      <div class="flex flex-col md:flex-row gap-2">
        <pc-form-input
          class="basis-1/2"
          type="tel"
          control="mobile"
          placeholder="Mobile Phone"
          pattern="[- +()0-9]+"
        />
        <pc-form-input class="basis-1/2" type="tel" control="home_phone" placeholder="Phone 2" />
      </div>
      <pc-input
        placeholder="Enter the address"
        [googlePlaces]="true"
        (googlePlacesAddressChange)="handleAddressChange($event)"
      />
      <pc-tags [(tags)]="this.tags" [enableAutoComplete]="true"></pc-tags>
      <textarea class="textarea textarea-bordered" placeholder="Notes"></textarea>
      <pc-add-btn-row [processing]="processing" (add)="add()"></pc-add-btn-row>
    </div>
  </form>
</div>
