<div class="bg-image flex min-h-screen font-light" data-theme="light">
  <div class="card card-compact glass m-auto w-96 shadow-xl">
    <div class="card-title bg-primary mb-10 w-full">
      <img class="p-5" src="assets/logo.svg" />
    </div>
    <div class="card-body mt-0 w-full">
      <form [formGroup]="form">
        <div class="space-y-3">
          <label class="relative block">
            <pc-icon
              class="focus-within:text-primary pointer-events-none absolute left-3 top-1/3 h-4 w-4 -translate-y-1/2 transform pt-1 text-sm text-gray-300"
              name="at-symbol"
            />

            <input
              type="email"
              placeholder="Enter your email"
              formControlName="email"
              aria-placeholder="email"
              class="input-pplcrm pl-11 text-sm"
              autocomplete="email"
            />
          </label>

          @if (email?.dirty && email?.invalid) {
            <span class="label-text-alt text-error"
              >Please enter a valid email</span
            >
          }

          <label class="group relative block">
            <pc-icon
              class="group-focus-within:text-primary pointer-events-none absolute left-3 top-1/3 h-4 w-4 -translate-y-1/2 transform pt-1 text-sm text-gray-300"
              name="lock-closed"
            />

            <input
              class="input-pplcrm pl-11 pr-8 text-sm"
              [type]="getVisibility()"
              formControlName="password"
              autocomplete="current-password"
              placeholder="Enter your password"
            />

            <pc-icon
              class="absolute right-3 top-1/3 h-3 w-3 -translate-y-1/2 transform cursor-pointer pr-5 pt-1 text-xs text-gray-500"
              [name]="getVisibilityIcon()"
              (click)="toggleVisibility()"
            />
          </label>

          <!--
          @if (password?.invalid) {
            <span class="label-text-alt text-slate-400">Min character: 8</span>
          }-->

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input
                id="remember_me"
                name="remember_me"
                type="checkbox"
                class="checkbox checkbox-primary"
                [checked]="persistence"
                (change)="togglePersistence($event.target)"
              />
              <label for="remember_me" class="ml-2 block text-sm">
                Remember me
              </label>
            </div>
            <div class="text-sm">
              <a routerLink="/resetpassword" class="link link-hover">
                Forgot your password?
              </a>
            </div>
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-primary w-full"
              (click)="signIn()"
              [disabled]="processing()"
            >
              @if (processing()) {
                <span
                  class="loading loading-dots loading-lg text-primary"
                ></span>
              } @else {
                SIGN IN
              }
            </button>
          </div>
        </div>
      </form>
      <div class="pt-3 text-center">
        <a routerLink="/signup" class="link link-hover">SIGN UP</a>
      </div>
      <div class="text-base-400 text-center text-xs">
        <span>
          Copyright © 2024
          <a
            href=""
            rel=""
            target="_blank"
            title="CampaignRaven"
            class="link link-hover"
            >CampaignRaven</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
