<!-- Template for setting a new password after verifying a reset code. -->
<pc-auth-layout>
  @if (!error()) {
  <form [formGroup]="form">
    <div class="space-y-4">
      <div class="space-y-0">
        <label class="label text-base"> Please select a new password </label>
        <pc-password-input
          [control]="password"
          autocomplete="current-password"
          placeholder="Enter your password"
          [pwned]="true"
        ></pc-password-input>
        @if (passwordInBreach(password)) {
        <span class="label-text-alt text-error"
          >This is not a safe password as it has been in
          <span class="font-bold">{{ passwordBreachNumber(password) | number: '1.0-0' }}</span>
          data breaches before. You should select a different password.</span
        >
        } @else if (password.dirty && password.invalid) {
        <span class="label-text-alt text-error">Your password should have at least 8 characters</span>
        }
      </div>

      <div>
        <button
          type="submit"
          class="btn btn-primary w-full"
          (click)="submit()"
          [disabled]="isLoading() || !password.valid"
        >
          @if (isLoading()) {
          <span class="loading loading-dots loading-lg text-primary"></span>
          } @else { Submit }
        </button>
      </div>
    </div>
  </form>
  } @else {
  <label class="label text-lg font-semibold"> Password Reset Failed </label>
  <label class="label text-base">
    The password reset link expired or something else went wrong. Please request a password reset link again.
  </label>
  <button type="submit" class="btn btn-primary w-full" routerLink="/resetpassword">Reset Password</button>
  }
  <div class="text-base-400 text-center text-xs">
    <span>
      Copyright © 2024
      <a href="" rel="" target="_blank" title="CampaignRaven" class="link link-hover">CampaignRaven</a></span
    >
  </div>
</pc-auth-layout>
