<!-- Template for setting a new password after verifying a reset code. -->
<pc-auth-layout>
  @if (!error()) {
  <form [formGroup]="form">
    <div class="space-y-4">
      <div class="space-y-0">
        <label class="label text-neutral-100"> Please select a new password </label>
        <label class="input w-full validator">
          <pc-icon [size]="4" name="lock-closed" />
          <input
            type="password"
            min="6"
            max="72"
            required
            placeholder="Enter your password"
            formControlName="password"
          />
        </label>
        @if (passwordInBreach(password)) {
        <span class="label-text-alt text-warning"
          >This is not a safe password as it has been in
          <span class="font-bold">{{ passwordBreachNumber(password) | number: '1.0-0' }}</span>
          data breaches before. You should select a different password.</span
        >
        } @else if (password.dirty && password.invalid) {
        <span class="label-text-alt text-warning">Your password should have at least 8 characters</span>
        }
      </div>

      <div>
        <button type="submit" class="btn btn-primary w-full" (click)="submit()">
          @if (isLoading()) {
          <span class="loading loading-dots loading-lg"></span>
          } @else { Submit }
        </button>
      </div>
    </div>
  </form>
  } @else {
  <label class="label text-lg font-semibold"> Password Reset Failed </label>
  <label class="label text-base">
    The password reset link expired or something else went wrong. Please request a password reset link again.
  </label>
  <button type="submit" class="btn btn-primary w-full" routerLink="/resetpassword">Reset Password</button>
  }
  <div class="text-center text-xs">
    <span class="text-neutral-100">
      Copyright © 2024
      <a href="" rel="" target="_blank" title="CampaignRaven" class="link link-hover">CampaignRaven</a></span
    >
  </div>
</pc-auth-layout>
