<div class="bg-image flex min-h-full font-light">
  <div class="card card-compact glass m-auto w-96 shadow-xl">
    <div class="card-title bg-primary mb-10 w-full">
      <img class="p-5" src="assets/logo.svg" />
    </div>
    <div class="card-body mt-0 w-full">
      @if (!error()) {
        <form [formGroup]="form">
          <div class="space-y-4">
            <div class="space-y-0">
              <label class="label text-base">
                Please select a new password
              </label>
              <input
                pwnedPasswordValidator
                class="input-pplcrm"
                placeholder="Password"
                formControlName="password"
                autocomplete="new-password"
                type="password"
                maxlength="72"
              />
              @if (passwordInBreach()) {
                <span class="label-text-alt text-error"
                  >This is not a safe password as it has been in
                  <span class="font-bold">{{
                    passwordBreachNumber() | number: "1.0-0"
                  }}</span>
                  data breaches before. You should select a different
                  password.</span
                >
              } @else if (password?.dirty && password?.invalid) {
                <span class="label-text-alt text-error"
                  >Your password should have at least 8 characters</span
                >
              }
            </div>

            <div>
              <button
                type="submit"
                class="btn btn-primary w-full"
                (click)="submit()"
                [disabled]="processing() || !password?.valid"
              >
                @if (processing()) {
                  <span
                    class="loading loading-dots loading-lg text-primary"
                  ></span>
                } @else {
                  Submit
                }
              </button>
            </div>
          </div>
        </form>
      } @else {
        <label class="label text-lg font-semibold">
          Password Reset Failed
        </label>
        <label class="label text-base">
          The password reset link expired or something else went wrong. Please
          request a password reset link again.
        </label>
        <button
          type="submit"
          class="btn btn-primary w-full"
          routerLink="/resetpassword"
        >
          Reset Password
        </button>
      }
      <div class="text-center text-xs text-neutral-400">
        <span>
          Copyright © 2024
          <a
            href=""
            rel=""
            target="_blank"
            title="CampaignRaven"
            class="link hover:link-primary no-underline"
            >CampaignRaven</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
