<!-- Template for user sign-up, capturing account and organization details. -->
<pc-auth-layout>
  <form (submit)="join($event)" novalidate class="flex flex-col gap-3">
    <label class="label text-neutral-100">Enter basic info to create your account </label>

    <label class="input w-full validator">
      <pc-icon [size]="4" name="user-circle" />
      <input
        type="text"
        placeholder="Your first name"
        [formField]="form.first_name"
        class="grow w-full"
        autocomplete="given-name"
      />
    </label>
    @if (firstName.dirty() && firstName.invalid()) {
    <span class="label-text-alt text-error -my-2 pb-2">First name is required</span>
    }

    <label class="input w-full validator">
      <pc-icon [size]="4" name="briefcase" />
      <input
        type="text"
        placeholder="Organization name (or self)"
        [formField]="form.organization"
        class="grow w-full"
        autocomplete="organization"
      />
    </label>
    @if (organization.dirty() && organization.invalid()) {
    <span class="label-text-alt text-error -my-2 pb-2"
      >Organization name is required. If you are solo then you can simply write "Self". If you are trying to join an
      existing organization then please ask them to send you an invitation.</span
    >
    }

    <label class="input w-full validator">
      <pc-icon [size]="4" name="at-symbol" />
      <input
        type="email"
        placeholder="Enter your email"
        [formField]="form.email"
        class="grow w-full"
        autocomplete="email"
      />
    </label>

    @if (email.dirty() && email.invalid()) {
    <span class="label-text-alt text-warning -my-2 pb-2">Please enter a valid email</span>
    }

    <label class="input w-full validator">
      <pc-icon [size]="4" name="lock-closed" />
      <input
        type="password"
        placeholder="Enter your password"
        [formField]="form.password"
        class="grow w-full"
        autocomplete="new-password"
      />
    </label>

    @if (passwordInBreach(password)) {
    <span class="label-text-alt text-warning -my-2 pb-2"
      >This is not a safe password as it has been in
      <span class="font-bold">{{ passwordBreachNumber(password) | number: '1.0-0' }}</span>
      data breaches before. You should select a different password.</span
    >
    } @else {
    <span
      class="label-text-alt -my-2 text-neutral-200 pb-2 pr-1 text-right"
      [class.text-warning]="
              (password.value().length || 0) > 0 && (password.value().length || 0) < 8
            "
      [class.text-success]="(password.value().length || 0) >= 8"
      >{{ password.value().length || 0 }}/8</span
    >
    }

    <button type="submit" class="btn btn-primary" [disabled]="isLoading()">
      @if (isLoading()) {
      <span class="loading loading-dots loading-lg text-primary"></span>
      } @else { JOIN → }
    </button>
    <span class="label-text-alt -my-2 pb-2 text-center text-neutral-100"
      >By joining, you agree to the <a href="#" class="link hover:text-neutral-300">Terms & Conditions</a> and
      <a href="#" class="link hover:text-neutral-300">Privacy Policy</a>.</span
    >
  </form>
  <span class="label-text py-3 text-center text-neutral-100"
    >Already have an account? <a routerLink="/signin" class="link hover:text-neutral-300">Sign In</a>.</span
  >
</pc-auth-layout>
