<!-- Template for user sign-up, capturing account and organization details. -->
<pc-auth-layout>
  <form [formGroup]="form" class="flex flex-col gap-3">
    <label class="label text-neutral-100">Enter basic info to create your account </label>
    <label class="relative block">
      <pc-icon
        [size]="4"
        class="pointer-events-none absolute left-3 top-1/3 h-2 w-4 -translate-y-1/2 transform text-sm text-gray-300"
        name="user-circle"
      />

      <input
        type="name"
        placeholder="Your first name"
        formControlName="first_name"
        class="input-pplcrm pl-11 text-sm"
        autocomplete="given-name"
        required
      />
    </label>
    @if (firstName?.dirty && firstName?.invalid) {
    <span class="label-text-alt text-error -my-2 pb-2">First name is required</span>
    }

    <label class="relative block">
      <pc-icon
        [size]="4"
        class="pointer-events-none absolute left-3 top-1/3 h-2 w-4 -translate-y-1/2 transform text-sm text-gray-300"
        name="briefcase"
      />

      <input
        type="text"
        placeholder="Organization name (or self)"
        formControlName="organization"
        class="input-pplcrm pl-11 text-sm"
        autocomplete="organization"
        required
      />
    </label>
    @if (organization?.dirty && organization?.invalid) {
    <span class="label-text-alt text-error -my-2 pb-2"
      >Organization name is required. If you are solo then you can simply write "Self". If you are trying to join an
      existing organization then please ask them to send you an invitation.</span
    >
    }

    <label class="relative block">
      <pc-icon
        [size]="4"
        class="pointer-events-none absolute left-3 top-1/3 h-1 w-4 -translate-y-1/2 transform text-sm text-gray-300"
        name="at-symbol"
      />

      <input
        type="email"
        placeholder="Enter your email"
        formControlName="email"
        class="input-pplcrm pl-11 text-sm"
        autocomplete="email"
        required
      />
    </label>

    @if (email?.dirty && email?.invalid) {
    <span class="label-text-alt text-warning -my-2 pb-2">Please enter a valid email</span>
    }

    <label class="input">
      <pc-icon [size]="4" name="lock-closed" />
      <input
        type="password"
        placeholder="Enter your password"
        [formControl]="password"
        autocomplete="new-password"
        maxlength="72"
      />
    </label>

    @if (passwordInBreach(password)) {
    <span class="label-text-alt text-warning -my-2 pb-2"
      >This is not a safe password as it has been in
      <span class="font-bold">{{ passwordBreachNumber(password) | number: '1.0-0' }}</span>
      data breaches before. You should select a different password.</span
    >
    } @else {
    <span
      class="label-text-alt -my-2 text-neutral-200 pb-2 pr-1 text-right"
      [class.text-warning]="
              (this.password.value.length || 0) > 0 && (this.password.value.length || 0) < 8
            "
      [class.text-success]="(this.password.value.length || 0) >= 8"
      >{{ this.password.value.length || 0 }}/8</span
    >
    }

    <button class="btn btn-primary" (click)="join()" [disabled]="isLoading()">
      @if (isLoading()) {
      <span class="loading loading-dots loading-lg text-primary"></span>
      } @else { JOIN → }
    </button>
    <span class="label-text-alt -my-2 pb-2 text-center text-neutral-100"
      >By joining, you agree to the <a href="#" class="link hover:text-neutral-300">Terms & Conditions</a> and
      <a href="#" class="link hover:text-neutral-300">Privacy Policy</a>.</span
    >
  </form>
  <span class="label-text py-3 text-center text-neutral-100"
    >Already have an account? <a routerLink="/signin" class="link hover:text-neutral-300">Sign In</a>.</span
  >
</pc-auth-layout>
