<div class="flex h-full w-full flex-col">
  <ul class="menu menu-horizontal flex flex-row">
    <li>
      <a
        class="hover:text-primary tooltip tooltip-accent"
        data-tip="Add a new person"
      >
        <pc-icon name="plus"></pc-icon>
      </a>
    </li>
    <li>
      <a
        class="hover:text-primary tooltip tooltip-accent"
        data-tip="Refresh the grid"
        (click)="refreshGrid(true)"
      >
        <pc-icon name="arrow-path"></pc-icon>
      </a>
    </li>
    <li>
      <a
        class="hover:text-primary tooltip tooltip-accent"
        data-tip="Import data from CSV"
      >
        <pc-icon name="cloud-arrow-up"></pc-icon>
      </a>
    </li>
    <li>
      <a
        class="hover:text-primary tooltip tooltip-accent"
        data-tip="Download as CSV"
        (click)="exportToCSV()"
      >
        <pc-icon name="arrow-down-tray"></pc-icon>
      </a>
    </li>

    <li>
      <a class="tooltip tooltip-accent" data-tip="Apply a filter">
        <pc-icon name="funnel"></pc-icon
      ></a>
    </li>
    <li>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button">
          <pc-icon name="ellipsis-vertical"></pc-icon>
        </div>

        <!-- Menu -->
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-20 w-44 cursor-pointer font-light shadow"
        >
          <li class="hover:text-primary">
            <a>
              <pc-icon name="pencil-square" />
              Edit
            </a>
          </li>
          <li class="hover:text-primary">
            <a>
              <pc-icon name="trash" />
              Delete
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="grow">
      <a class="hover:text-primary ml-auto">
        <pc-icon name="information-circle"></pc-icon>
      </a>
    </li>
  </ul>

  <ag-grid-angular
    class="flex-1 font-light"
    [class]="getTheme()"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    (gridReady)="onGridReady($event)"
    [gridOptions]="combinedGridOptions"
  >
  </ag-grid-angular>
</div>
