<div class="flex h-full w-full flex-col">
  <ul class="menu menu-horizontal flex flex-row pt-0">
    <pc-grid-action [enabled]="!!addRoute()" [tip]="'Add'" [icon]="plusIcon()" (action)="add()" />
    <pc-grid-action [enabled]="!disableRefresh()" [tip]="'Refresh the grid'" icon="arrow-path" (action)="refresh()" />
    <pc-grid-action [enabled]="!!undoMgr.canUndo()" tip="Undo" icon="arrow-uturn-left" (action)="undoMgr.undo()" />
    <pc-grid-action [enabled]="!!undoMgr.canRedo()" tip="Redo" icon="arrow-uturn-right" (action)="undoMgr.redo()" />
    <pc-grid-action
      [enabled]="!disableImport()"
      [tip]="'Import data from CSV'"
      icon="cloud-arrow-up"
      (action)="doImportCSV()"
    />
    <pc-grid-action
      [enabled]="!disableExport()"
      [tip]="'Download as CSV'"
      icon="arrow-down-tray"
      (action)="confirmExport()"
    />
    <pc-grid-action
      [enabled]="!disableDelete() && isRowSelected()"
      [tip]="'Deleted selected row(s)'"
      icon="trash"
      (action)="confirmDelete()"
    />
    <pc-grid-action icon="filter" tip="Filter the grid" (action)="filter()" />
    <li class="grow">
      <a class="hover:text-primary ml-auto">
        <pc-icon name="information-circle"></pc-icon>
      </a>
    </li>
  </ul>

  @if (gridVisible()) {
  <ag-grid-angular
    class="flex-1 font-light"
    [class]="getTheme()"
    [columnDefs]="colDefsWithEdit"
    (gridReady)="onGridReady($event)"
    [gridOptions]="mergedGridOptions"
    [getRowId]="getRowId"
    [cellSelection]="true"
    [enableCellTextSelection]="true"
  >
  </ag-grid-angular>
  } @else {
  <div class="overflow-x-auto p-4 bg-white">
    <table class="table w-full">
      <thead>
        <tr>
          <th><div class="skeleton h-4 w-12"></div></th>
          <th><div class="skeleton h-4 w-24"></div></th>
          <th><div class="skeleton h-4 w-32"></div></th>
          <th><div class="skeleton h-4 w-16"></div></th>
        </tr>
      </thead>
      <tbody>
        @for (row of [1, 2, 3, 4, 5, 6]; track row) {
        <tr>
          <td><div class="skeleton h-4 w-12"></div></td>
          <td><div class="skeleton h-4 w-24"></div></td>
          <td><div class="skeleton h-4 w-32"></div></td>
          <td><div class="skeleton h-4 w-16"></div></td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  }
</div>

<dialog id="confirmExport" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Export limitation</h3>
    <p class="pt-4 pb-6 font-light">
      This only exports the columns visible in the grid. If you'd like to export everything then please use the Export
      component from the sidebar.
    </p>

    <form method="dialog" class="modal-backdrop float-right flex flex-row gap-2">
      <button class="btn btn-primary" (click)="exportToCSV()"><pc-icon name="arrow-down-tray" />Accept</button>
      <button class="btn"><pc-icon name="x-circle" />Cancel</button>
    </form>
  </div>
</dialog>

<dialog id="confirmDelete" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Are you sure?</h3>
    <p class="pt-4 pb-6 font-light">The selected rows will be deleted permanantly. You cannot undo this.</p>

    <form method="dialog" class="modal-backdrop float-right flex flex-row gap-2">
      <button class="btn btn-error" (click)="deleteSelectedRows()">
        <pc-icon name="trash" />
        Yes
      </button>
      <button class="btn"><pc-icon name="x-circle" />Cancel</button>
    </form>
  </div>
</dialog>
