<div class="flex h-full w-full flex-col">
  <ul class="menu menu-horizontal flex flex-row pt-0">
    <li
      class="tooltip-accent"
      [class.tooltip]="addRoute"
      [class.disabled]="!addRoute"
      (click)="addRoute && add()"
      data-tip="Add"
    >
      <a>
        <pc-icon name="plus"></pc-icon>
      </a>
    </li>
    <li
      class="tooltip-accent"
      [class.tooltip]="!disableRefresh"
      [class.disabled]="disableRefresh"
      (click)="!disableRefresh && refresh()"
      data-tip="Refresh the grid"
    >
      <a>
        <pc-icon name="arrow-path"></pc-icon>
      </a>
    </li>
    <li
      class="tooltip tooltip-accent"
      (click)="undo()"
      data-tip="Undo"
      [class.disabled]="api?.getCurrentUndoSize() === 0"
    >
      <a>
        <pc-icon name="arrow-uturn-left"></pc-icon>
      </a>
    </li>
    <li
      class="tooltip tooltip-accent"
      (click)="redo()"
      data-tip="Redo"
      [class.disabled]="api?.getCurrentRedoSize() === 0"
    >
      <a>
        <pc-icon name="arrow-uturn-right"></pc-icon>
      </a>
    </li>
    <li
      class="tooltip-accent"
      [class.tooltip]="!disableImport"
      [class.disabled]="disableImport"
      (click)="!disableImport && doImportCSV()"
      data-tip="Import data from CSV"
    >
      <a>
        <pc-icon name="cloud-arrow-up"></pc-icon>
      </a>
    </li>
    <li
      class="tooltip-accent"
      [class.tooltip]="!disableExport"
      [class.disabled]="disableExport"
      (click)="!disableExport && confirmExport()"
      data-tip="Download as CSV"
    >
      <a>
        <pc-icon name="arrow-down-tray" />
      </a>
    </li>

    <li>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button">
          <pc-icon name="tag"></pc-icon>
        </div>

        <!-- Menu -->
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-20 w-44 cursor-pointer font-light shadow"
        >
          @for (tag of distinctTags; track tag) {
            <li>
              <a (click)="filterByTag(tag)">
                {{ tag }}
              </a>
            </li>
          }
        </ul>
      </div>
    </li>
    <li>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button">
          <pc-icon name="ellipsis-vertical"></pc-icon>
        </div>

        <!-- Menu -->
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-20 w-44 cursor-pointer font-light shadow"
        >
          <li [class.disabled]="disableDelete" (click)="deleteSelectedRows()">
            <a>
              <pc-icon name="trash" />
              Delete
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="grow">
      <a class="hover:text-primary ml-auto">
        <pc-icon name="information-circle"></pc-icon>
      </a>
    </li>
  </ul>
  <progress class="progress w-full" [class.hidden]="!processing"></progress>
  <ag-grid-angular
    class="flex-1 font-light"
    [class]="getTheme()"
    [columnDefs]="colDefsWithEdit"
    (gridReady)="onGridReady($event)"
    [gridOptions]="defaultGridOptions"
    [getRowId]="getRowId"
    [enableRangeSelection]="true"
    [suppressMultiRangeSelection]="true"
    [enableCellTextSelection]="true"

  >
  </ag-grid-angular>
</div>

<dialog id="confirmExport" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Export limitation</h3>
    <p class="pt-4 pb-6 font-light">
      This only exports the columns visible in the grid. If you'd like to export everything then
      please use the Export component from the sidebar.
    </p>

    <form method="dialog" class="modal-backdrop float-right flex flex-row gap-2">
      <button class="btn btn-primary" (click)="exportToCSV()">
        <pc-icon name="arrow-down-tray" />Accept
      </button>
      <button class="btn"><pc-icon name="x-circle" />Cancel</button>
    </form>
  </div>
</dialog>

<dialog id="confirmDelete" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Are you sure?</h3>
    <p class="pt-4 pb-6 font-light">The data will be deleted permanantly. You cannot undo this.</p>

    <form method="dialog" class="modal-backdrop float-right flex flex-row gap-2">
      <button class="btn btn-error" (click)="deleteSelectedRows()">
        <pc-icon name="trash" />
        Yes
      </button>
      <button class="btn"><pc-icon name="x-circle" />Cancel</button>
    </form>
  </div>
</dialog>
