<div
  class="bg-image flex min-h-full min-h-screen font-light"
  data-theme="light"
>
  <div class="card card-compact glass m-auto w-96 shadow-xl">
    <div class="card-title bg-primary mb-10 w-full">
      <img class="p-5" src="assets/logo.svg" />
    </div>
    <div class="card-body mt-0 w-full">
      <form [formGroup]="form">
        <div class="space-y-4">
          <input
            class="input-pplcrm peer mt-3"
            type="email"
            formControlName="email"
            placeholder="mail@gmail.com"
            autocomplete="email"
          />
          @if (email?.dirty && email?.invalid) {
            <span class="label-text-alt text-error"
              >Please enter a valid email</span
            >
          }

          <input
            class="input-pplcrm"
            type="password"
            formControlName="password"
            autocomplete="current-password"
            placeholder="Enter your password"
          />
          <!--
          @if (password?.invalid) {
            <span class="label-text-alt text-slate-400">Min character: 8</span>
          }-->

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input
                id="remember_me"
                name="remember_me"
                type="checkbox"
                class="checkbox checkbox-primary"
                [checked]="persistence"
                (change)="togglePersistence($event.target)"
              />
              <label for="remember_me" class="ml-2 block text-sm">
                Remember me
              </label>
            </div>
            <div class="text-sm">
              <a
                routerLink="/resetpassword"
                class="link hover:link-primary no-underline"
              >
                Forgot your password?
              </a>
            </div>
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-primary w-full"
              (click)="signIn()"
              [disabled]="processing()"
            >
              @if (processing()) {
                <span
                  class="loading loading-dots loading-lg text-primary"
                ></span>
              } @else {
                SIGN IN
              }
            </button>
          </div>
        </div>
      </form>
      <div class="pt-3 text-center">
        <a routerLink="/signup" class="link hover:link-primary no-underline"
          >SIGN UP</a
        >
      </div>
      <div class="text-base-400 text-center text-xs">
        <span>
          Copyright © 2024
          <a
            href=""
            rel=""
            target="_blank"
            title="CampaignRaven"
            class="link hover:link-primary no-underline"
            >CampaignRaven</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
