<div class="dropdown">
  <span class="font-light pr-2 h-auto">Assigned to: </span>
  <div tabindex="0" class="badge badge-xs text-xs badge-info badge-outline cursor-pointer">
    <span>{{ getUserName(email()!.assigned_to) }}</span>
    <span><pc-icon name="chevron-down" [size]="4"></pc-icon></span>
  </div>
  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-44 p-2 shadow">
    @for (user of users(); track user.id) {
    <li><a (click)="assign(user.id)">{{ user.first_name }}</a></li>
    }
    @if (email()!.assigned_to) {
    <li><a (click)="assign(null)">Unassign</a></li>
    }
  </ul>
</div>
