<section
  class="border-r border-gray-200 flex flex-col h-full"
  [class.w-48]="emails().length"
  [class.invisible]="!emails().length"
>
  @if (emails().length) {
  <ul class="flex-1 overflow-y-auto">
    @for (email of emails(); track email.id) {
    <li
      (click)="selectEmail(email)"
      [class.bg-blue-50]="isSelected(email.id)"
      class="border-b border-gray-100 cursor-pointer px-4 py-2 hover:bg-blue-50"
    >
      <div class="truncate text-xs text-gray-500">{{ email.from_email }}</div>
      <div class="truncate font-medium">{{ email.subject }}</div>
      <div class="truncate font-light text-xs text-gray-500">{{ email.preview }}</div>
    </li>
    }
  </ul>
  }
</section>
