<div class="w-full p-2">
  @for (comment of comments(); track comment.id) {
  <div class="mb-3">
    <div class="flex items-center gap-2 text-sm">
      <span class="font-medium">{{ getUserName(comment.author_id) }}</span>
      <span>left a comment ‣</span>
      @if (comment.created_at) {
      <span class="text-xs text-gray-500 tooltip cursor-pointer" [attr.data-tip]="comment.created_at | date:'medium'">
        {{ comment.created_at | timeAgo:{ thresholdDays: 7, style: 'long' } }}
      </span>
      }
      <span class="flex-1"></span>

      <!-- Delete button (shown if allowed) -->
      @if (canDelete(comment)) {
      <pc-icon
        name="trash"
        (click)="confirmDelete(comment)"
        [size]="4"
        class="tooltip cursor-pointer hover:text-error"
        [attr.data-tip]="'Delete comment'"
      ></pc-icon>
      }
    </div>

    <div class="mt-1 rounded bg-gray-100 p-2 whitespace-pre-line">{{ comment.comment }}</div>
  </div>
  }

  <textarea
    [(ngModel)]="newComment"
    placeholder="Add a comment"
    class="w-full rounded border p-2 border-gray-200"
  ></textarea>
  <button (click)="addComment()" class="btn btn-sm btn-primary">Add Comment</button>
</div>
