<div class="bg-image flex min-h-screen font-light" data-theme="light">
  <div class="card card-compact glass m-auto w-96 shadow-xl">
    <div class="card-title bg-primary mb-10 w-full">
      <img class="p-5" src="assets/logo.svg" />
    </div>
    <pc-alerts />
    <div class="card-body mt-0 w-full">
      @if (!emailSent()) {
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="space-y-4">
          <div class="space-y-0">
            <label class="label text-base"> Please enter your email to reset the password. </label>
            <input
              class="input-pplcrm mt-3"
              type="email"
              formControlName="email"
              placeholder="mail@gmail.com"
              autocomplete="email"
            />
            @if (email?.dirty && email?.invalid) {
            <span class="label-text-alt text-error">Please enter a valid email</span>
            }
          </div>

          <div>
            <button type="submit" class="btn btn-primary w-full" [disabled]="loading() || form.invalid">
              @if (loading()) {
              <span class="loading loading-dots loading-lg text-primary"></span>
              } @else { Submit }
            </button>
          </div>
        </div>
      </form>
      } @else {
      <label class="label pb-0 text-lg font-semibold"> Email sent! </label>
      <label class="label text-base">
        Please check your email for a link to reset the password (don't forget to check the spam folder if you do not
        see the email). Please keep it mind that the email may take a few minutes to arrive.
      </label>
      }
      <div class="text-base-400 pt-4 text-center text-xs">
        <span>
          Copyright © 2024
          <a href="" rel="" target="_blank" title="CampaignRaven" class="link link-hover">CampaignRaven</a></span
        >
      </div>
    </div>
  </div>
</div>
