<div class="p-2 space-y-3">
  @for (comment of comments(); track comment.id) {
  <div
    class="chat group"
    [class.chat-start]="comment.author_id === myUserId"
    [class.chat-end]="comment.author_id !== myUserId"
  >
    <!-- avatar -->
    <div class="chat-image avatar">
      <div class="w-8 h-8 rounded-full bg-base-300 text-base-content !grid place-items-center leading-none">
        <span class="text-xs font-medium uppercase"> {{ (getUserName(comment.author_id) || '?') | slice:0:1 }} </span>
      </div>
    </div>

    <!-- header -->
    <div class="chat-header flex items-center text-xs">
      <span class="font-medium">{{ getUserName(comment.author_id) }}</span>

      @if (comment.created_at) {
      <span class="text-gray-500 tooltip cursor-pointer" [attr.data-tip]="comment.created_at | date:'medium'">
        {{ comment.created_at | timeAgo:{ thresholdDays: 7, style: 'long' } }}
      </span>
      }

      <span class="flex-1"></span>

      <!-- Options menu (hover-reveal on md+, always visible on mobile) -->
      @if (canDelete(comment)) {
      <button
        class="hidden group-hover:flex hover:text-error hover:font-bold cursor-pointer tooltip tooltip-left"
        data-tip="Delete comment"
        (click)="confirmDelete(comment)"
      >
        <pc-icon name="x-mark" [size]="4"></pc-icon>
      </button>

      }
    </div>

    <!-- bubble -->
    <div class="chat chat-bubble whitespace-pre-line">{{ comment.comment }}</div>
  </div>
  }

  <!-- Composer -->
  <div class="mt-4 form-control">
    <textarea [(ngModel)]="newComment" placeholder="Add a comment" class="textarea textarea-bordered w-full"></textarea>
    <div class="mt-2 flex items-center justify-end gap-2">
      <button type="button" class="btn btn-sm" (click)="newComment = ''">Clear</button>
      <button type="button" class="btn btn-sm btn-primary" (click)="addComment()">Add Comment</button>
    </div>
  </div>
</div>
