<ng-template #navLink let-nav>
  <a
    *pcAnimateIf="getVisibilitySignal(nav); enter: 'animate-none'; exit: 'animate-exit-left'"
    class="hover:text-primary flex flex-auto items-center pb-1 pl-2 font-light hover:rounded-lg !cursor-pointer"
    [class.animate-up]="nav.justPinned"
    (click)="this.closeMobile()"
    [routerLink]="nav.route"
    routerLinkActive="!font-semibold !text-primary"
    [routerLinkActiveOptions]="{ exact: !!nav.pathMatchExact }"
    [class.!font-semibold]="pendingRoute() === nav.route"
    [class.!text-primary]="pendingRoute() === nav.route"
  >
    <pc-icon [size]="5" [name]="nav.icon!"></pc-icon>
    <span
      class="indicator pl-2 group-hover:md:visible text-[13px] tracking-[0.03em]"
      [class.invisible]="isEffectivelyNarrow()"
    >
      {{ nav.name }} @if (nav.indicator) {
      <span class="indicator-item status status-primary"></span>
      }
    </span>
  </a>
</ng-template>

<div
  (mouseenter)="onSidebarHover(true)"
  (mouseleave)="onSidebarHover(false)"
  class="bg-base-100 border-r-base-100 group min-h-full flex-col border-r-2 text-sm font-light sm:flex hover:md:w-44 transition-all duration-50"
  [class.hidden]="!this.isMobileOpen()"
  [class.w-44]="!isEffectivelyNarrow() || this.isMobileOpen()"
  [class.w-18]="isEffectivelyNarrow() && !this.isMobileOpen()"
>
  <a
    [class.hidden]="isEffectivelyNarrow()"
    class="mx-4 mb-5 mt-2.5 block flex-none cursor-pointer rounded-lg px-2 py-1 group-hover:md:block"
    routerLink="/summary"
    aria-label="Go to dashboard"
    i18n-aria-label="@@sidebar.logoHomeAriaLabel"
    (click)="this.closeMobile()"
  >
    <img src="../../assets/logo.png" alt="Logo" i18n-alt="@@sidebar.logoAlt" />
  </a>

  <a
    [class.hidden]="!isEffectivelyNarrow() || this.isMobileOpen()"
    class="avatar mx-2 mb-5 mt-3 w-10 cursor-pointer rounded-full p-0 group-hover:md:hidden"
    routerLink="/summary"
    aria-label="Go to dashboard"
    i18n-aria-label="@@sidebar.logoHomeAriaLabelCompact"
    (click)="this.closeMobile()"
  >
    <img src="../../assets/logo-sq.svg" class="w-24 h-auto p-2" alt="Compact Logo" i18n-alt="@@sidebar.logoSqAlt" />
  </a>

  @for (item of items(); track item.name) {
  <div class="flex-none pl-2" [class.hidden]="!!item.hidden || !!item.hiddenByFavourite">
    @if (item['type'] === 'subheading' || item['type'] === 'bookmark') {
    <div
      class="text-base-content/45 font-medium flex items-center justify-between pl-2 uppercase text-[10.5px] tracking-[0.09em] hover:cursor-pointer"
      (click)="toggleCollapse(item.name)"
    >
      <span [class.text-[10px]]="isEffectivelyNarrow() && !hoveringSidebar()">
        @if (isEffectivelyNarrow() && !hoveringSidebar()) { {{ item.short_name || item.name }} } @else { {{ item.name }}
        }
      </span>
      @if (item.children?.length) {
      <pc-swap
        class="rotate-90 invisible mr-2"
        [class.visible]="!isEffectivelyNarrow() || hoveringSidebar()"
        swapOnIcon="chevron-double-left"
        swapOffIcon="chevron-double-right"
        animation="rotate"
        [size]="4"
        [checked]="isCollapsed(item.name)"
        (click)="toggleCollapse(item.name)"
        aria-label="Toggle section"
        i18n-aria-label="@@sidebar.toggleSection.ariaLabel"
      ></pc-swap>
      }
    </div>

    @if (item.children && !isCollapsed(item.name)) {
    <div class="flex flex-col space-y-1">
      @for (child of item.children; track child.name) {
      <ng-container *ngTemplateOutlet="navLink; context: { $implicit: child }"></ng-container>
      }
    </div>
    } } @else {
    <ng-container *ngTemplateOutlet="navLink; context: { $implicit: item }"></ng-container>
    }
  </div>
  }

  <div class="hidden flex-auto grow items-start flex-col sm:flex">
    <span class="min-h-full grow"></span>
    <pc-swap
      class="hover:text-primary text-gray-400 group-hover:visible hidden lg:inline-flex"
      swapOffIcon="arrow-right-end-on-rectangle"
      swapOnIcon="arrow-left-start-on-rectangle"
      [checked]="isDrawerFull()"
      animation="flip"
      (click)="toggleDrawer()"
      aria-label="Toggle drawer"
      i18n-aria-label="@@sidebar.toggleDrawer.ariaLabel"
    ></pc-swap>
  </div>
</div>
