<div
  class="bg-base-100 border-r-base-200 group min-h-full flex-col border-r-2 text-sm font-light sm:flex hover:md:w-56"
  [class.hidden]="!this.isMobileOpen()"
  [class.w-56]="this.isDrawerFull() || this.isMobileOpen()"
  [class.w-14]="this.isDrawerHalf() && !this.isMobileOpen()"
>
  <!-- First, add logo (full or square) -->
  <div
    [class.hidden]="!this.isDrawerFull()"
    class="bg-base-200 mx-4 mb-5 mt-2.5 flex-none rounded-lg px-2 py-1 group-hover:md:block"
  >
    <img src="../../assets/logo.svg" />
  </div>

  <div
    [class.hidden]="this.isDrawerFull() || this.isMobileOpen()"
    class="bg-base-200 avatar mx-2 mb-5 mt-3 w-10 rounded-full p-0 group-hover:md:hidden"
  >
    <img src="../../assets/sq.svg" class="min-w-24 h-auto w-full p-2" />
  </div>

  <!-- Sidebar content here -->
  @for (item of items; track item.name; let idx = $index) {
    <div class="flex-none px-2" [class.bg-base-200]="this.router.url === item['route']">
      @if (item['type'] === 'subheading') {
        <span
          class="text-base-400 py-2 pl-2 capitalize group-hover:text-xs"
          [class.text-[9px]]="this.isDrawerHalf()"
          [class.text-xs]="this.isDrawerFull()"
          >{{ item['name'] }}</span
        >
      } @else {
        <a
          class="hover:bg-base-200 flex flex-auto py-1 pl-2 tracking-widest hover:rounded-lg"
          (click)="this.closeMobile()"
          routerLink="{{ item['route'] }}"
        >
          <pc-icon class="hover:text-primary text-xs" [name]="item['icon']!"></pc-icon>
          <span
            class="pl-3 pt-1 group-hover:md:visible"
            [class.invisible]="!this.isDrawerFull() && !this.isMobileOpen()"
          >
            {{ item['name'] }}</span
          ></a
        >
      }
    </div>
  }

  <!-- Finally, the toggle drawer icon -->
  <div class="hidden flex-auto grow flex-col sm:flex">
    <span class="min-h-full grow"></span>
    <pc-swap
      class="hover:text-primary group-hover:visible"
      [class.invisible]="this.isDrawerHalf()"
      swapOffIcon="bars-3"
      swapOnIcon="x-mark"
      [checked]="isDrawerFull()"
      animation="rotate"
      (clickEvent)="toggleDrawer()"
    ></pc-swap>
  </div>
</div>
