@if (!readonly()) {
<pc-autocomplete
  (valueChange)="add($event)"
  [placeholder]="placeholder()"
  [filterSvc]="enableAutoComplete() ? tagSvc : null"
></pc-autocomplete>
} @if (tags().length) {
<div class="contents" [class.mt-2]="!readonly()">
  @if (!readonly()) {
  <span class="font-light text-gray-400 mr-1 text-sm">Tags applied:</span>
  } @for (tag of tags(); track tag) {
  <pc-singletag
    class="mr-1"
    [name]="tag.name"
    [allowDetele]="allowDetele()"
    (clickEvent)="clicked(tag.name)"
    (closeEvent)="closed(tag.name)"
  ></pc-singletag>
  }
</div>
}
