<!-- Dashboard layout template combining sidebar, navbar, and routed content -->
<!-- Sidebar -->
<div class="drawer drawer-open bg-base-200">
  <input class="drawer-toggle" />
  <div class="drawer-side">
    <pc-sidebar></pc-sidebar>
  </div>

  <!-- Add the Navbar and router-outlet for the body -->

  <div class="drawer-content flex flex-col">
    <pc-navbar></pc-navbar>
    <pc-breadcrumb class="invisible sm:visible"></pc-breadcrumb>
    <pc-alerts></pc-alerts>
    <div class="grow border-l-2 border-l-base-300" [class.hidden]="isMobileOpen()">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
