<!-- Sidebar -->
<div class="drawer drawer-open bg-base-200">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content">
    <pplcrm-navbar></pplcrm-navbar>
    <router-outlet></router-outlet>
  </div>

  <div class="drawer-side bg-base-100 border-r-base-200 border-r-2">
    <div
      class="flex min-h-full flex-col text-sm font-light"
      [class.w-56]="this.drawerOpen"
      [class.w-18]="!this.drawerOpen"
    >
      <!-- First, add logo (full or square) -->
      <div
        [class.hidden]="!this.drawerOpen"
        class="bg-primary mx-4 mb-5 mt-2.5 flex-none rounded-lg px-2 py-1"
      >
        <img src="../../assets/logo.svg" />
      </div>
      <div
        [class.hidden]="this.drawerOpen"
        class="bg-primary avatar border-secondary mx-4 mb-5 mt-3 w-10 rounded-full border-2 p-0"
      >
        <img src="../../assets/sq.svg" class="min-w-24 h-auto w-full p-2" />
      </div>

      <!-- Sidebar content here -->
      @for (item of items; track item.name) {
        <div class="flex-none px-2 py-1">
          @if (item["type"] === "subheading") {
            <span
              class="flex-1 pl-2 capitalize text-neutral-400"
              [class.text-xs]="!this.drawerOpen"
              >{{ item["name"] }}</span
            >
          } @else {
            <a
              class="tooltip tooltip-primary tooltip-top light:text-neutral-600 flex flex-auto py-1 pl-2 tracking-widest hover:rounded-lg hover:bg-neutral-100 dark:text-neutral-100"
              [class.bg-neutral-100]="this.router.url === item['route']"
              [class.dark:text-neutral-600]="this.router.url === item['route']"
              routerLink="{{ item['route'] }}"
            >
              <pplcrm-icon [icon]="item['icon']"></pplcrm-icon>
              <span class="pl-3 pt-1" [class.hidden]="!this.drawerOpen">{{
                item["name"]
              }}</span></a
            >
          }
        </div>
      }
      <div class="flex flex-auto grow flex-col">
        <span class="min-h-full grow"></span>
        <span
          class="text-primary hover:text-secondary ml-auto flex-none cursor-pointer p-2"
          (click)="toggleDrawer()"
        >
          @if (this.drawerOpen) {
            <pplcrm-icon icon="arrow-left-on-rectangle"></pplcrm-icon>
          } @else {
            <pplcrm-icon icon="arrow-right-end-on-rectangle"></pplcrm-icon>
          }
        </span>
      </div>
    </div>
  </div>
</div>
